# Data Science Tools and Ecosystem

 **Objectives:**
 - Python
 - R
 - Julia
 - SQL

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. matplotlib
3. SciPy
4. ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter NoteBook   |
| JupyterLab         |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sergei Konovalov